{"recorded_with": "Stenographer 0.1.3", "http_interactions": [{"response": {"http_version": "1.1", "body": {"string": "<TOKEN>", "encoding": "utf-8"}, "headers": {"Content-Type": ["application/jwt; charset=us-ascii"]}, "status": {"message": "OK", "code": 200}}, "recorded_at": "Sun, 11 Dec 2016 23:03:46 -0000", "request": {"uri": "https://api.cognitive.microsoft.com/sts/v1.0/issueToken", "body": {"string": "", "encoding": "utf-8"}, "headers": {"Ocp-Apim-Subscription-Key": ["<KEY>"]}, "method": "POST"}}, {"response": {"http_version": "1.1", "body": {"string": "\ufeff[\"af\",\"ar\",\"bs-Latn\",\"bg\",\"ca\",\"zh-CHS\",\"zh-CHT\",\"yue\",\"hr\",\"cs\",\"da\",\"nl\",\"en\",\"et\",\"fj\",\"fil\",\"fi\",\"fr\",\"de\",\"el\",\"ht\",\"he\",\"hi\",\"mww\",\"hu\",\"id\",\"it\",\"ja\",\"sw\",\"tlh\",\"tlh-Qaak\",\"ko\",\"lv\",\"lt\",\"mg\",\"ms\",\"mt\",\"yua\",\"no\",\"otq\",\"fa\",\"pl\",\"pt\",\"ro\",\"ru\",\"sm\",\"sr-Cyrl\",\"sr-Latn\",\"sk\",\"sl\",\"es\",\"sv\",\"ty\",\"th\",\"to\",\"tr\",\"uk\",\"ur\",\"vi\",\"cy\"]", "encoding": "utf-8"}, "headers": {"X-Ms-Trans-Info": ["1035.V2_Json.GetLanguagesForTranslate.1B93BCD7"], "Content-Type": ["application/x-javascript; charset=utf-8"]}, "status": {"message": "OK", "code": 200}}, "recorded_at": "Sun, 11 Dec 2016 23:03:46 -0000", "request": {"uri": "https://api.microsofttranslator.com/V2/Ajax.svc/GetLanguagesForTranslate", "body": {"string": "", "encoding": "utf-8"}, "headers": {"Authorization": ["Bearer <TOKEN>"]}, "method": "GET"}}, {"response": {"http_version": "1.1", "body": {"string": "\ufeff\"\u3053\u3093\u306b\u3061\u306f\"", "encoding": "utf-8"}, "headers": {"X-Ms-Trans-Info": ["0639.V2_Json.Translate.1B9599AF"], "Content-Type": ["application/x-javascript; charset=utf-8"]}, "status": {"message": "OK", "code": 200}}, "recorded_at": "Sun, 11 Dec 2016 23:03:46 -0000", "request": {"uri": "https://api.microsofttranslator.com/V2/Ajax.svc/Translate?text=hola&to=ja", "body": {"string": "", "encoding": "utf-8"}, "headers": {"Authorization": ["Bearer <TOKEN>"]}, "method": "GET"}}]}
