{"http_interactions": [{"request": {"uri": "http://api.geonames.org/searchJSON?maxRows=1&style=FULL&q=beijing&username=USERNAME", "headers": {}, "method": "GET", "body": {"string": "", "encoding": "utf-8"}}, "response": {"headers": {"Content-Type": ["application/json;charset=UTF-8"]}, "body": {"string": "{\"totalResultsCount\":4841,\"geonames\":[{\"alternateNames\":[{\"name\":\"Beijing\",\"lang\":\"af\"},{\"name\":\"\u1264\u12ea\u1302\u1295\u130d\",\"lang\":\"am\"},{\"name\":\"Pequ\u00edn\",\"lang\":\"an\"},{\"name\":\"Be\u021dcin\u021d\",\"lang\":\"ang\"},{\"name\":\"\u0628\u0643\u064a\u0646\",\"lang\":\"ar\"},{\"name\":\"\u0628\u064a\u0643\u064a\u0646\",\"lang\":\"arz\"},{\"name\":\"Beix\u00edn\",\"lang\":\"ast\"},{\"name\":\"Pekin'\",\"lang\":\"ay\"},{\"name\":\"\u0413\u043e\u0440\u0430\u0434 \u041f\u0435\u043a\u0456\u043d\",\"lang\":\"be\"},{\"name\":\"\u041f\u0435\u043a\u0438\u043d\[...]
{"request": {"uri": "http://api.geonames.org/findNearByWeatherJSON?lat=39.9075&lng=116.39723&username=USERNAME", "headers": {}, "method": "GET", "body": {"string": "", "encoding": "utf-8"}}, "response": {"headers": {"Content-Type": ["application/json;charset=UTF-8"]}, "body": {"string": "{\"weatherObservation\":{\"weatherCondition\":\"n/a\",\"clouds\":\"clouds and visibility OK\",\"observation\":\"ZBAA 012200Z 35003MPS CAVOK 02/M02 Q1021 NOSIG\",\"windDirection\":350,\"ICAO\":\"ZBAA\",\"elevation\":55,\"countryCode\":\"CN\",\"cloudsCode\":\"CAVOK\",\"lng\":116.58333333333333,\"temperature\":\"2\",\"dewPoint\":\"-2\",\"humidity\":74,\"stationName\":\"Beijing\",\"datetime\":\"2015-11-01 22:00:00\",\"lat\":40.06666666666667,\"hectoPascAltimeter\":1021}}", "encoding": "utf-8"}, "http_version": "1.1", "status": {"code": 200, "message": "OK"}}, "recorded_at": "Sun, 01 Nov 2015 22:14:45 -0000"}], "recorded_with": "Stenographer 0.1.3"}
