{"http_interactions": [{"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {}, "method": "GET", "uri": "https://www.googleapis.com/customsearch/v1?key=%3CKEY%3E&cx=%3CCX%3E&q=slartibartfast&num=1&start=1"}, "response": {"body": {"string": "{\n \"kind\": \"customsearch#search\",\n \"url\": {\n  \"type\": \"application/json\",\n  \"template\": \"https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&cref={cref?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json\"\n },\n \"queries\": {\n  \"nextPage\": [\n   {\n    \"title\": \"Google Custom Search - slartibartfast\",\n    \"totalResults\": \"28100\",\n    \"searchTerms\": \"slartibartfast\",\n    \"count\": 1,\n    \"startIndex\": 2,\n    \"inputEncoding\": \"utf8\",\n    \"outputEncoding\": \"utf8\",\n    \"safe\": \"off\",\n    \"cx\": \"<CX>\"\n   }\n  ],\n  \"request\": [\n   {\n    \"title\": \"Google Custom Search - slartibartfast\",\n    \"totalResults\": \"28100\",\n    \"searchTerms\": \"slartibartfast\",\n    \"count\": 1,\n    \"startIndex\": 1,\n    \"inputEncoding\": \"utf8\",\n    \"outputEncoding\": \"utf8\",\n    \"safe\": \"off\",\n    \"cx\": \"<CX>\"\n   }\n  ]\n },\n \"context\": {\n  \"title\": \"All\"\n },\n \"searchInformation\": {\n  \"searchTime\": 0.327408,\n  \"formattedSearchTime\": \"0.33\",\n  \"totalResults\": \"28100\",\n  \"formattedTotalResults\": \"28,100\"\n },\n \"items\": [\n  {\n   \"kind\": \"customsearch#result\",\n   \"title\": \"Slartibartfast - Wikipedia, the free encyclopedia\",\n   \"htmlTitle\": \"\\u003cb\\u003eSlartibartfast\\u003c/b\\u003e - Wikipedia, the free encyclopedia\",\n   \"link\": \"https://en.wikipedia.org/wiki/Slartibartfast\",\n   \"displayLink\": \"en.wikipedia.org\",\n   \"snippet\": \"Slartibartfast is a character in The Hitchhiker's Guide to the Galaxy, a comedy/\\nscience fiction series created by Douglas Adams. The character appears in the \\nfirst\u00a0...\",\n   \"htmlSnippet\": \"\\u003cb\\u003eSlartibartfast\\u003c/b\\u003e is a character in The Hitchhiker&#39;s Guide to the Galaxy, a comedy/\\u003cbr\\u003e\\nscience fiction series created by Douglas Adams. The character appears in the \\u003cbr\\u003e\\nfirst&nbsp;...\",\n   \"cacheId\": \"J4NVhA12A10J\",\n   \"formattedUrl\": \"https://en.wikipedia.org/wiki/Slartibartfast\",\n   \"htmlFormattedUrl\": \"https://en.wikipedia.org/wiki/\\u003cb\\u003eSlartibartfast\\u003c/b\\u003e\",\n   \"pagemap\": {\n    \"cse_image\": [\n     {\n      \"src\": \"https://upload.wikimedia.org/wikipedia/en/thumb/3/31/SlartBartFast.JPG/220px-SlartBartFast.JPG\"\n     }\n    ],\n    \"cse_thumbnail\": [\n     {\n      \"width\": \"176\",\n      \"height\": \"132\",\n      \"src\": \"https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTMBD74nYveHuVmCaK-99N_x8MGLDrsU_W1CDEwKbAIdT054n1yWcFQeXo\"\n     }\n    ]\n   }\n  }\n ]\n}\n", "encoding": "UTF-8"}, "headers": {"alternate-protocol": ["443:quic,p=1"], "etag": ["\"ENTgmThqWzhSab7OnAl_tX_Fk04/ZPUJ3r8UotnI540XF53kYLiTIkE\""], "content-type": ["application/json; charset=UTF-8"]}, "status": {"message": "OK", "code": 200}, "url": "https://www.googleapis.com/customsearch/v1?key=%3CKEY%3E&cx=%3CCX%3E&q=slartibartfast&num=1&start=1"}, "recorded_at": "2015-08-05T17:13:04"}, [...]
