{"http_interactions": [{"recorded_at": "Thu, 06 Aug 2015 18:18:43 -0000", "request": {"headers": {}, "body": {"encoding": "utf-8", "string": ""}, "uri": "https://www.googleapis.com/customsearch/v1?key=%3CKEY%3E&cx=%3CCX%3E&q=%22high+queen+encouraging+regret%22&num=10&start=1", "method": "GET"}, "response": {"headers": {"Alternate-Protocol": ["443:quic,p=1"], "Content-Type": ["application/json; charset=UTF-8"], "ETag": ["\"ENTgmThqWzhSab7OnAl_tX_Fk04/8xgSLYe_6P_NK4s0DU_0dDkYdGo\""]}, "body": {"encoding": "utf-8", "string": "{\n \"kind\": \"customsearch#search\",\n \"url\": {\n  \"type\": \"application/json\",\n  \"template\": \"https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&cref={cref?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json\"\n },\n \"queries\": {\n  \"request\": [\n   {\n    \"title\": \"Google Custom Search - \\\"high queen encouraging regret\\\"\",\n    \"totalResults\": \"0\",\n    \"searchTerms\": \"\\\"high queen encouraging regret\\\"\",\n    \"count\": 10,\n    \"startIndex\": 1,\n    \"inputEncoding\": \"utf8\",\n    \"outputEncoding\": \"utf8\",\n    \"safe\": \"off\",\n    \"cx\": \"<CX>\"\n   }\n  ]\n },\n \"searchInformation\": {\n  \"searchTime\": 0.13582,\n  \"formattedSearchTime\": \"0.14\",\n  \"totalResults\": \"0\",\n  \"formattedTotalResults\": \"0\"\n }\n}\n"}, "http_version": "1.1", "status": {"code": 200, "message": "OK"}}}], "recorded_with": "Omnipresence 3.0-dev Stenographer"}
