{"http_interactions": [{"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {}, "method": "GET", "uri": "https://www.googleapis.com/customsearch/v1?key=%3CKEY%3E&cx=%3CCX%3E&q=%22high+queen+encouraging+regret%22&num=10&start=1"}, "response": {"body": {"string": "{\n \"kind\": \"customsearch#search\",\n \"url\": {\n  \"type\": \"application/json\",\n  \"template\": \"https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&cref={cref?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json\"\n },\n \"queries\": {\n  \"request\": [\n   {\n    \"title\": \"Google Custom Search - \\\"high queen encouraging regret\\\"\",\n    \"totalResults\": \"0\",\n    \"searchTerms\": \"\\\"high queen encouraging regret\\\"\",\n    \"count\": 10,\n    \"inputEncoding\": \"utf8\",\n    \"outputEncoding\": \"utf8\",\n    \"safe\": \"off\",\n    \"cx\": \"<CX>\"\n   }\n  ]\n },\n \"searchInformation\": {\n  \"searchTime\": 0.154695,\n  \"formattedSearchTime\": \"0.15\",\n  \"totalResults\": \"0\",\n  \"formattedTotalResults\": \"0\"\n }\n}\n", "encoding": "UTF-8"}, "headers": {"alternate-protocol": ["443:quic,p=1"], "etag": ["\"ENTgmThqWzhSab7OnAl_tX_Fk04/2_Q5QdEuezMgPZsnSFGEfDVTWuY\""], "content-type": ["application/json; charset=UTF-8"]}, "status": {"message": "OK", "code": 200}, "url": "https://www.googleapis.com/customsearch/v1?key=%3CKEY%3E&cx=%3CCX%3E&q=%22high+queen+encouraging+regret%22&num=10&start=1"}, "recorded_at": "2015-08-05T15:39:17"}], "recorded_with": "betamax/0.5.0"}
