{"http_interactions": [{"recorded_at": "Thu, 06 Aug 2015 18:18:43 -0000", "request": {"headers": {}, "body": {"encoding": "utf-8", "string": ""}, "uri": "https://www.googleapis.com/customsearch/v1?key=%3CKEY%3E&cx=%3CCX%3E&q=%22cui+said+shows+that+embedded+devices%22&num=1&start=1", "method": "GET"}, "response": {"headers": {"Alternate-Protocol": ["443:quic,p=1"], "Content-Type": ["application/json; charset=UTF-8"], "ETag": ["\"ENTgmThqWzhSab7OnAl_tX_Fk04/r8ZsUeZGUWxOyn2AtB6VIsSwmkc\""]}, "body": {"encoding": "utf-8", "string": "{\n \"kind\": \"customsearch#search\",\n \"url\": {\n  \"type\": \"application/json\",\n  \"template\": \"https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&cref={cref?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json\"\n },\n \"queries\": {\n  \"request\": [\n   {\n    \"title\": \"Google Custom Search - \\\"cui said shows that embedded devices\\\"\",\n    \"totalResults\": \"1\",\n    \"searchTerms\": \"\\\"cui said shows that embedded devices\\\"\",\n    \"count\": 1,\n    \"startIndex\": 1,\n    \"inputEncoding\": \"utf8\",\n    \"outputEncoding\": \"utf8\",\n    \"safe\": \"off\",\n    \"cx\": \"<CX>\"\n   }\n  ]\n },\n \"context\": {\n  \"title\": \"All\"\n },\n \"searchInformation\": {\n  \"searchTime\": 0.163731,\n  \"formattedSearchTime\": \"0.16\",\n  \"totalResults\": \"1\",\n  \"formattedTotalResults\": \"1\"\n },\n \"spelling\": {\n  \"correctedQuery\": \"\\\"cuisaid shows that embedded devices\\\"\",\n  \"htmlCorrectedQuery\": \"&quot;\\u003cb\\u003e\\u003ci\\u003ecuisaid\\u003c/i\\u003e\\u003c/b\\u003e shows that embedded devices&quot;\"\n },\n \"items\": [\n  {\n   \"kind\": \"customsearch#result\",\n   \"title\": \"\u201cFuntenna\u201d software hack turns a laser printer into a covert radio ...\",\n   \"htmlTitle\": \"\u201cFuntenna\u201d software hack turns a laser printer into a covert radio \\u003cb\\u003e...\\u003c/b\\u003e\",\n   \"link\": \"http://arstechnica.com/security/2015/08/funtenna-software-hack-turns-a-laser-printer-into-a-covert-radio/\",\n   \"displayLink\": \"arstechnica.com\",\n   \"snippet\": \"5 hours ago ... The demonstration, Cui said, shows that embedded devices need their own built-\\nin defenses to truly be secure. And printers are merely a\u00a0...\",\n   \"htmlSnippet\": \"5 hours ago \\u003cb\\u003e...\\u003c/b\\u003e The demonstration, \\u003cb\\u003eCui said, shows that embedded devices\\u003c/b\\u003e need their own built-\\u003cbr\\u003e\\nin defenses to truly be secure. And printers are merely a&nbsp;...\",\n   \"cacheId\": \"Em5XTUU1kM4J\",\n   \"formattedUrl\": \"arstechnica.com/.../funtenna-software-hack-turns-a-laser-printer-into-a-covert -radio/\",\n   \"htmlFormattedUrl\": \"arstechnica.com/.../funtenna-software-hack-turns-a-laser-printer-into-a-covert -radio/\",\n   \"pagemap\": {\n    \"cse_image\": [\n     {\n      \"src\": \"http://cdn.arstechnica.net/wp-content/uploads/2015/08/funtenna-640x337.png\"\n     }\n    ],\n    \"person\": [\n     {\n      \"url\": \"Sean Gallagher\",\n      \"name\": \"Sean Gallagher\"\n     }\n    ],\n    \"cse_thumbnail\": [\n     {\n      \"width\": \"310\",\n      \"height\": \"163\",\n      \"src\": \"https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSCLEe0KtUMRkG6JKRiKPZgiz3nVgFFOSydL2KGJVa_vKsgsur4Sc6Bgrg\"\n     }\n    ],\n    \"newsarticle\": [\n     {\n      \"headline\": \"\u201cFuntenna\u201d software hack turns a laser printer into a covert radio\",\n      \"description\": \"Researcher demonstrates how attacker could exfiltrate data over airwaves.\",\n      \"articlebody\": \"It turns out that embedded computing devices can be used to broadcast data covertly in all sorts of ways, as demonstrated in this video from Ang Cui's Funtenna project. LAS VEGAS\u2014During the...\"\n     }\n    ],\n    \"metatags\": [\n     {\n      \"application-name\": \"Ars Technica\",\n      \"msapplication-starturl\": \"http://arstechnica.com/\",\n      \"msapplication-tooltip\": \"Ars Technica: Serving the technologist for 1.2 decades\",\n      \"msapplication-task\": \"name=News;action-uri=http://arstechnica.com/;icon-uri=https://cdn.arstechnica.net/favicon.ico\",\n      \"advertising\": \"ask\",\n      \"fb:admins\": \"592156917\",\n      \"format-detection\": \"telephone=no\",\n      \"theme-color\": \"#000000\",\n      \"viewport\": \"width=1020\",\n      \"parsely-page\": \"{\\\"title\\\":\\\"\\\\u201cFuntenna\\\\u201d software hack turns a laser printer into a covert radio\\\",\\\"link\\\":\\\"http:\\\\/\\\\/arstechnica.com\\\\/security\\\\/2015\\\\/08\\\\/funtenna-software-hack-turns-a-laser-printer-into-a-covert-radio\\\\/\\\",\\\"type\\\":\\\"post\\\",\\\"author\\\":\\\"Sean Gallagher\\\",\\\"post_id\\\":719401,\\\"pub_date\\\":\\\"2015-08-06T13:18:13Z\\\",\\\"section\\\":\\\"Risk Assessment\\\",\\\"tags\\\":[\\\"type: report\\\"],\\\"image_url\\\":\\\"http:\\\\/\\\\/cdn.arstechnica.net\\\\/wp-content\\\\/uploads\\\\/2015\\\\/08\\\\/funtenna-150x150.png\\\"}\",\n      \"parsely-metadata\": \"{\\\"type\\\":\\\"report\\\",\\\"title\\\":\\\"\\\\u201cFuntenna\\\\u201d software hack turns a laser printer into a covert radio\\\",\\\"post_id\\\":719401,\\\"lower_deck\\\":\\\"Researcher demonstrates how attacker could exfiltrate data over airwaves.\\\\r\\\\n\\\",\\\"image_url\\\":\\\"http:\\\\/\\\\/cdn.arstechnica.net\\\\/wp-content\\\\/uploads\\\\/2015\\\\/08\\\\/funtenna-150x150.png\\\",\\\"listing_image_url\\\":\\\"http:\\\\/\\\\/cdn.arstechnica.net\\\\/wp-content\\\\/uploads\\\\/2015\\\\/08\\\\/funtenna-300x150.png\\\"}\",\n      \"twitter:card\": \"summary_large_image\",\n      \"twitter:url\": \"http://arstechnica.com/security/2015/08/funtenna-software-hack-turns-a-laser-printer-into-a-covert-radio/\",\n      \"twitter:title\": \"\u201cFuntenna\u201d software hack turns a laser printer into a covert radio\",\n      \"twitter:description\": \"Researcher demonstrates how attacker could exfiltrate data over airwaves.\",\n      \"twitter:site\": \"@arstechnica\",\n      \"twitter:domain\": \"arstechnica.com\",\n      \"og:site_name\": \"Ars Technica\",\n      \"twitter:image:src\": \"http://cdn.arstechnica.net/wp-content/uploads/2015/08/funtenna-640x337.png\",\n      \"twitter:image:width\": \"640\",\n      \"twitter:image:height\": \"337\",\n      \"twitter:creator\": \"@thepacketrat\",\n      \"og:url\": \"http://arstechnica.com/security/2015/08/funtenna-software-hack-turns-a-laser-printer-into-a-covert-radio/\",\n      \"og:title\": \"\u201cFuntenna\u201d software hack turns a laser printer into a covert radio\",\n      \"og:image\": \"http://cdn.arstechnica.net/wp-content/uploads/2015/08/funtenna-640x337.png\",\n      \"og:description\": \"Researcher demonstrates how attacker could exfiltrate data over airwaves.\",\n      \"og:type\": \"article\"\n     }\n    ]\n   }\n  }\n ]\n}\n"}, "http_version": "1.1", "status": {"code": 200, "message": "OK"}}}], "recorded_with": "Omnipresence 3.0-dev Stenographer"}
