{"http_interactions": [{"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {}, "method": "GET", "uri": "https://www.googleapis.com/customsearch/v1?key=%3CKEY%3E&cx=%3CCX%3E&q=%22cuphead+is+difficult+i+mean+really+really+difficult%22&num=1&start=1"}, "response": {"body": {"string": "{\n \"kind\": \"customsearch#search\",\n \"url\": {\n  \"type\": \"application/json\",\n  \"template\": \"https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&cref={cref?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json\"\n },\n \"queries\": {\n  \"request\": [\n   {\n    \"title\": \"Google Custom Search - \\\"cuphead is difficult i mean really really difficult\\\"\",\n    \"totalResults\": \"1\",\n    \"searchTerms\": \"\\\"cuphead is difficult i mean really really difficult\\\"\",\n    \"count\": 1,\n    \"startIndex\": 1,\n    \"inputEncoding\": \"utf8\",\n    \"outputEncoding\": \"utf8\",\n    \"safe\": \"off\",\n    \"cx\": \"<CX>\"\n   }\n  ]\n },\n \"context\": {\n  \"title\": \"All\"\n },\n \"searchInformation\": {\n  \"searchTime\": 0.181933,\n  \"formattedSearchTime\": \"0.18\",\n  \"totalResults\": \"1\",\n  \"formattedTotalResults\": \"1\"\n },\n \"items\": [\n  {\n   \"kind\": \"customsearch#result\",\n   \"title\": \"Cuphead is stupidly hard, stupidly beautiful, and I love it | Ars ...\",\n   \"htmlTitle\": \"Cuphead is stupidly hard, stupidly beautiful, and I love it | Ars \\u003cb\\u003e...\\u003c/b\\u003e\",\n   \"link\": \"http://arstechnica.co.uk/gaming/2015/08/cuphead-is-stupidly-hard-stupidly-beautiful-and-i-love-it/\",\n   \"displayLink\": \"arstechnica.co.uk\",\n   \"snippet\": \"8 hours ago ... COLOGNE, Germany\u2014Cuphead is difficult. I mean, really, really difficult. If you \\ndon't die within the first few minutes of playing, you're either\u00a0...\",\n   \"htmlSnippet\": \"8 hours ago \\u003cb\\u003e...\\u003c/b\\u003e COLOGNE, Germany\u2014\\u003cb\\u003eCuphead is difficult. I mean, really, really difficult\\u003c/b\\u003e. If you \\u003cbr\\u003e\\ndon&#39;t die within the first few minutes of playing, you&#39;re either&nbsp;...\",\n   \"cacheId\": \"DLBwbAQzpL8J\",\n   \"formattedUrl\": \"arstechnica.co.uk/.../cuphead-is-stupidly-hard-stupidly-beautiful-and-i-love-it /\",\n   \"htmlFormattedUrl\": \"arstechnica.co.uk/.../cuphead-is-stupidly-hard-stupidly-beautiful-and-i-love-it /\",\n   \"pagemap\": {\n    \"cse_image\": [\n     {\n      \"src\": \"http://cdn.arstechnica.net/wp-content/uploads/sites/3/2015/08/cuphead-captain-silver-squid-attack-640x359.jpg\"\n     }\n    ],\n    \"person\": [\n     {\n      \"url\": \"Mark Walton\",\n      \"name\": \"Mark Walton\"\n     }\n    ],\n    \"cse_thumbnail\": [\n     {\n      \"width\": \"300\",\n      \"height\": \"168\",\n      \"src\": \"https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcS2XPOmSXHL1FKtkWn4uPqP_gasQjM_9V3gDmV3JYzT_2oSz3hS7_BxR4s\"\n     }\n    ],\n    \"newsarticle\": [\n     {\n      \"headline\": \"Cuphead is stupidly hard, stupidly beautiful, and I love it\",\n      \"description\": \"Studio MDHR's 1930s run-and-gun platformer is defiantly difficult in a good way.\",\n      \"articlebody\": \"Cuphead is stupidly hard and stupidly beautiful. Video produced by Mark Walton. COLOGNE, Germany\u2014Cuphead is difficult. I mean, really, really difficult. If you don't die within the first...\"\n     }\n    ],\n    \"metatags\": [\n     {\n      \"advertising\": \"ask\",\n      \"fb:admins\": \"592156917\",\n      \"format-detection\": \"telephone=no\",\n      \"theme-color\": \"#000000\",\n      \"viewport\": \"width=1020\",\n      \"parsely-page\": \"{\\\"title\\\":\\\"Cuphead is stupidly hard, stupidly beautiful, and I love it\\\",\\\"link\\\":\\\"http:\\\\/\\\\/arstechnica.co.uk\\\\/gaming\\\\/2015\\\\/08\\\\/cuphead-is-stupidly-hard-stupidly-beautiful-and-i-love-it\\\\/\\\",\\\"type\\\":\\\"post\\\",\\\"author\\\":\\\"Mark Walton\\\",\\\"post_id\\\":33279,\\\"pub_date\\\":\\\"2015-08-05T08:33:46Z\\\",\\\"section\\\":\\\"Opposable Thumbs\\\",\\\"tags\\\":[\\\"cuphead\\\",\\\"gaming-2\\\",\\\"windows-10\\\",\\\"xbox-one\\\",\\\"type: report\\\"],\\\"image_url\\\":\\\"http:\\\\/\\\\/cdn.arstechnica.net\\\\/wp-content\\\\/uploads\\\\/sites\\\\/3\\\\/2015\\\\/08\\\\/cuphead-captain-silver-squid-attack-150x150.jpg\\\"}\",\n      \"parsely-metadata\": \"{\\\"type\\\":\\\"report\\\",\\\"title\\\":\\\"Cuphead is stupidly hard, stupidly beautiful, and I love it\\\",\\\"post_id\\\":33279,\\\"lower_deck\\\":\\\"Studio MDHR's 1930s run-and-gun platformer is defiantly difficult in a good way.\\\",\\\"image_url\\\":\\\"http:\\\\/\\\\/cdn.arstechnica.net\\\\/wp-content\\\\/uploads\\\\/sites\\\\/3\\\\/2015\\\\/08\\\\/cuphead-captain-silver-squid-attack-150x150.jpg\\\",\\\"listing_image_url\\\":\\\"http:\\\\/\\\\/cdn.arstechnica.net\\\\/wp-content\\\\/uploads\\\\/sites\\\\/3\\\\/2015\\\\/08\\\\/cuphead-captain-silver-squid-attack-300x150.jpg\\\"}\",\n      \"twitter:card\": \"summary_large_image\",\n      \"twitter:url\": \"http://arstechnica.co.uk/gaming/2015/08/cuphead-is-stupidly-hard-stupidly-beautiful-and-i-love-it/\",\n      \"twitter:title\": \"Cuphead is stupidly hard, stupidly beautiful, and I love it\",\n      \"twitter:description\": \"Studio MDHR's 1930s run-and-gun platfor[...]
[...]
